#==========================================================================
# Git-Attributes
#
# @see https://git-scm.com/docs/gitattributes
#==========================================================================

* text=auto
