#==========================================================================
# NPM-Ignore
#
# @see https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package
#==========================================================================

.idea/
src/
examples/

.gitattributes
.gitignore

changelog.md
contributing.md
readme.md
